<table class="ui celled table">
    <thead>
    <tr>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Trend</th>
        <th>Comment</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    {{#each assessments}}
        <tr>
            <td> {{weight}} </td>
            <td> {{chest}} </td>
            <td> {{thigh}} </td>
            <td> {{upperArm}} </td>
            <td> {{waist}} </td>
            <td> {{hips}} </td>
            <td> {{# if trend}} <i class="icon green angle double down"></i>
            {{else}} <i class="icon red angle double up"></i> {{/if}} </td>
            <td> {{comment}} </td>
            <td>
                <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
                 <i class="icon trash"></i>
                </a>
            </td>
        </tr>
        <tr>
            {{#if isTrainer}}
            {{>addcomment}}
            {{/if}}
        </tr>
    </tbody>
    {{/each}}
</table>

