<div class = "ui segments">
    <div class="ui five column middle aligned grid raised segment">
        <div class="column">
            <header class="ui center aligned icon header">
                <i class = "user icon"></i>
                {{firstname}} {{lastname}}
            </header>
        </div>
        <div class="column">
            <header class="ui center aligned icon header">
                {{#if isIdealBodyWeight}}
                <i class = "green tachometer alternate icon"></i>
                {{else}}
                <i class = "red tachometer alternate icon"></i>
                {{/if}}
                IDEAL WEIGHT INDICATOR
            </header>
        </div>
        <div class="column">
            <div class="ui huge left aligned header">
                <i class = "big heartbeat icon"></i>
                <div class = "content">
                    {{BMI}}
                    <div class="ui black sub header">BMI</div>
                </div>
            </div>
        </div>
        <div class="column">
            <header class="ui center aligned icon header">
                <i class = "doctor icon"></i>
                {{BMIcategory}}
            </header>
        </div>
        <div class="column">
            <header class="ui center aligned icon header">
                {{# if latestGoal.isOpen}} <i class="icon blue hand paper outline"></i>{{/if}}
                {{# if latestGoal.achieved}} <i class="icon green thumbs up outline"></i> {{/if}}
                {{# if latestGoal.missed}} <i class="icon red thumbs down outline"></i> {{/if}}
                Latest Goal: {{latestGoal.status}}
            </header>
        </div>
    </div>
</div>